# Ignore Terraform-related files
aws-terraform/.terraform/
**/terraform.tfstate*
**/.terraform.lock.hcl
*.tfvars
# Ignore Terraform local files
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.zip
*.tar.gz

# Ignore large Terraform provider binaries
terraform-provider-*
# Ignore Python virtual environment and cache
python-app/venv/
python-app/__pycache__/

# Ignore Docker build artifacts
python-app/.dockerignore


# Ignore shell scripts (if they are not needed in Git)


# Ignore log and temp files
*.log
*.tmp

# Ignore MacOS system files
.DS_Store
